body {
    font-family: Arial, sans-serif;
    color: #333;
    background: url('https://example.com/background-image.jpg') no-repeat center center fixed;
    background-size: cover; 
}

/* Стили для заголовков */
h1, h2, h3 {
    margin-bottom: 0px;
    font-weight: bold;
}

h1 {
    font-size: 32px;
    color: #0066cc;
    margin-top: 30px;
}

h2 {
    font-size: 24px;
    color: #009933;
    margin-top: 25px;
}

/* Стили для параграфов */
p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
    padding: 5px 0;
}

/* Стили для списков */
ul, ol {
    margin-left: 30px;
    margin-bottom: 20px; 
}

li {
    font-size: 16px;
    color: #444444;
    margin-bottom: 8px;
}

/* Стили для ссылок */
a {
    font-size: 16px;
    color: #ffd900;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1bde22d0;
    font-weight: bold;
    text-decoration: underline;
}

/* Дополнительные стили для украшения странички */
body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #968d8d;
}

img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* Стили для основного контейнера */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

/* Стили для левой части контента */
.content-left {
    width: 50%;
    padding: 30px;
    background: #7db475c7;
    margin: 10px;
    border-radius: 10px;
}

/* Стили для правой части контента */
.content-right {
    width: 50%;
    padding: 20px;
    background: #7697dfe8;
    margin: 10px;
    border-radius: 10px;
}

/* Дополнительные стили для изображения */
.content-right img {
    width: 100%;
    height: auto;
}
